bcrypt==4.1.2
bittensor==6.7.2
torch==2.0.1
redis==5.0.1
aioredis==2.0.1
pycryptodome==3.19.1
pyinstrument==4.6.1
wandb==0.16.0
morphys==1.0
python-multipart==0.0.9
py-multibase==1.0.3
py-multicodec==0.2.1
py-multihash==2.0.1
ipfs-cid==1.0.0
fastapi==0.109.2
python-jose==3.3.0
uvicorn==0.27.1
passlib==1.7.4
aioredis==2.0.1
pyinstrument==4.6.1
python-dotenv==1.0.1